.p400 {
    display: grid;
    grid-template-rows: auto 1rem;
    position: relative;

    #{&}__header {
        position: absolute;
        top: 1rem;
        left: 1rem;
        text-transform: uppercase;
        transform: scale(3);
        transform-origin: top left;
        color: $cyan;
        text-shadow: $black .1rem .1rem;
    }

    #{&}__footer {
        text-align: center;
    }

    #{&}__forecast {
        background: $blue;
        display: grid;
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 1fr;
        justify-items: center;
        // align-items: center;

        &--summary {
            margin-top: 2rem;
            align-self: center;
            text-align: right;
            width: 38rem;
            text-shadow: $black .1rem .1rem;

            & .city {
                text-transform: uppercase;
                transform-origin: top right;
                transform: scale(2);
                color: $yellow;
            }

            & .description {
                margin-top: 1rem;
                text-transform: capitalize;
                color: $white;
                transform-origin: top right;
                transform: scaleY(2);
                height: 2rem;
            }
        }

        &--weather-map {
            color: $green;
            position: relative;
            width: fit-content;
            height: 37rem;
            text-shadow: $black -.2rem .2rem;
            font-size: 2rem;
            // height: 30rem;
            // align-self: flex-start;

            &--temp {
                background: $black;
                color: $white;
                position: absolute;
                display: inline;
                font-size: .5em;
            }

            & .london {
                top: 81%;
                left: 72.5%;
            }

            & .belfast {
                top: 45%;
                left: 5%;
            }

            & .exeter {
                top: 87%;
                left: 32.5%;
            }

            & .birmingham {
                top: 68%;
                left: 50%;
            }

            & .blackpool {
                top: 52%;
                left: 55%;
            }

            & .dumfries {
                top: 40%;
                left: 35%;
            }

            & .inverness {
                top: 22%;
                left: 40%;
            }
        }
    }
}

@include media-md {
    .p400 {
        #{&}__forecast {
            grid-template-rows: 1fr;
            grid-template-columns: 20rem 20rem;
            align-items: center;
    
            &--summary {
                width: 18rem;
            }
    
            &--weather-map {
                font-size: 1.4rem;
    
                & .london {
                    top: 58%;
                    left: 72.5%;
                }
        
                & .belfast {
                    top: 32%;
                    left: 5%;
                }
        
                & .exeter {
                    top: 62%;
                    left: 32.5%;
                }
        
                & .birmingham {
                    top: 50%;
                    left: 50%;
                }
        
                & .blackpool {
                    top: 39%;
                    left: 55%;
                }
        
                & .dumfries {
                    top: 28%;
                    left: 35%;
                }
        
                & .inverness {
                    top: 15%;
                    left: 40%;
                }
            }
        }
    }
}
