@import 'config';
@import '100';
@import '101';

header {
    & .clock {
        color: $yellow;
        & > * {
            color: $yellow;
        }
    }

    .scans > * {
        color: inherit;
    }
}

body {    
    padding: 2px;
    display: grid;
    grid-template-rows: 1rem auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

@include media-lg {
    * {
        font-size: 21px;
    }

    header, body > * {
        margin: 0 auto;
    }
}