@import 'config';
@import '100';
@import '101';
@import '102-11';
@import '198';
@import '199';
@import '400';

header {
    & .clock {
        color: $yellow;
        & > * {
            color: $yellow;
        }
    }

    .scans > * {
        color: inherit;
    }
}

body {    
    padding: 2px;
    display: grid;
    grid-template-rows: 1rem auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

svg {
    position: fixed;
    top: 25px;
    right: 10px;
    fill: none;
    width: 8rem;
    height: 8rem;

    &.mute {
        z-index: 2;
        stroke-width: .8rem;
        stroke: $green;
    }

    &.mute-glare {
        z-index: 1;
        stroke-width: 1rem;
        stroke: $white;
    }

    &.hidden {
        visibility: hidden;
    }
}

@include media-lg {
    * {
        font-size: 21px;
    }

    header, body {
        max-width: 40rem;
        margin: 0 auto;
    }
}